
body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    margin-top: 10%;
    font-size:22px;
}

#Num1 {
    height:40px;
    border-radius: 10px;
}
#Num2 {
    height:40px;
    border-radius: 10px;
}

button {
    background-color: skyblue;
    color: #fff;
    padding: 12px 24px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.3s ease;
    box-shadow: 0 5px 5px rgba(3, 52, 90, 0.4);
}

button:hover {
    background-color: darkblue;
    transform: scale(1.1);
}

table {
    margin-top: 40px;
    width: 80%;
    border-collapse: collapse;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    table-layout: fixed;
    margin-left: 10%;
}

td {
    border: 1px solid darkcyan;
    padding: 16px;
    text-align: center;
    font-size: 18px;
    background-color: #fff;
    transition: all, 0.3s ease;
}

td:hover {
    background-color: rgb(220, 246, 255);
    border: 1px solid darkcyan;
    color:rgb(0, 174, 255);
}

table tr:nth-child(even) {
    background-color: rgb(220, 246, 255);
}

table tr:nth-child(odd) {
    background-color: rgb(220, 246, 255);
}